:root{

    --primarytextcolor:#232e35;
    --seconderytextcolor:#656d72;

    --bordercolor:#f1f1f1;
    --linecolor:#d9d9d9;

    --primaryBackgroundColor:#fff;
    --secondaryBackgroundColor:#fbfbfb;
    --thirdbackgroundcolor:#f5f3fe;

    --primaryiconcolor:#7e74f1;
    --primaryIconColorhover:#5246d6;

    --sectionpadding: 6rem 0;

    --ItemborderRadius: 0.7rem;

    }


@media screen and (max-width:1100px) {

    .p{
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

     .grid{
            gap: 1rem;
    }

    .skills-right ul li{
        font-size: 0.9rem;
    }
}

@media screen and (max-width:900px) {
        /* BURGER */
    .burger{
        display: block;
        cursor: pointer;
    }

    .toggle-burger .line-1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle-burger .line-2{
        opacity: 0;
    }

    .toggle-burger .line-3{
        transform: rotate(45deg) translate(-5px, -6px);
    }

    nav{
        position: fixed;
        width: 50%;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: var(--primaryBackgroundColor);
        border-left:  1px solid var(--bordercolor);
        z-index: 9;
        transform: translateX(100%);
        transition: 0.3s ease-in-out;
    }

    nav ul{
        height: 100vh;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-active{
        transform: translateX(0);
    }

    :root{
       --sectionpadding: 4rem 0; 
    }

    .pre-title{
        font-size: 0.8rem;
    }

    .section-title{
        font-size: 1.6rem;
        margin: 0.6rem 0 2.5rem;
    }

/*-----------------------------------*\
  HERO SECTION
\*-----------------------------------*/

    #hero{
        padding: var(--sectionpadding);
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .hero-right{
        order: -1;
    }

    .hero-left{
        text-align: center;
        padding-top: 3rem;
    }

    .hero-left .pre-title{
        margin: 0 auto;
    }

    .hero-name{
        font-size: 2.3rem;
        margin-bottom: 0.5rem;
    }

    #services{
        display: grid;
    }

    .footer{
        padding: 2rem 0;
    }
}

@media screen and (max-width:720px) {
    
}

    